@media (max-width: 1620px) {
  .container {
    max-width: 1250px;
  }
  .header__nav-item {
    margin: 0 2.5%;
  }
  .header__sign {
    margin-left: 15.5%;
  }

  .intro__title {
    width: 52%;
  }
  .intro__text {
    width: 44%;
    margin-bottom: 4em;
  }
}

@media (max-width: 1360px) {
  .container {
    max-width: 1000px;
  }
  .header-top__container {
    padding: 25px 0;
  }

 

  .header-bottom__container {
    display: none;
  }
  .header__burger-block {
    display: block;
    cursor: pointer;
  }

  .header__logo-link {
    width: 20%;
    transform: translateX(-200%);
  }
  .header-top__container.resize100{
    min-width: 100%;
}

.header__nav{
    display: none;
}
  .header__nav.is-active {
      display: block;

  }

  .header__nav{
    position: absolute;
    top: 0;
    z-index: 30;
    padding: 37px 50px 100px;
    width: 100%;
    height: 713px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .header__nav-close {
    display: block;
    margin-bottom: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: transparent;
    background-image: url(../img/header/close.svg);
  }

  .header__container-form {
    margin-top: -70px;
  }
  .header__form-search {
    position: absolute;
    right: 0%;
    width: auto;
    height: auto;
  }

  .header__nav-item {
    margin:0;
    white-space: nowrap;
  }
  .header__sign {
      width: 30%;
      margin-top: 40px;
      padding: 1em 2em;
      border: 2px solid var(--color-contrast);
      border-radius: 100px;
    margin-left: 0;
    text-align: center;
  }
  .header__search-btn {
    margin-right: 0;
    width: 40px;
    height: 40px;
  }
  .header__search-input {
    display: none;
  }
  .intro__container {
    z-index: 10;
    padding-top: 150px;
  }
  .intro__title {
    width: 60%;
  }
}
@media (max-width: 1030px) {
  .container {
    max-width: 927px;
  }

  .header__logo-link {
    width: 20%;
    transform: translateX(-200%);
  }

  .header__search-btn {
    width: 33px;
    height: 33px;
  }

  .header__form-search {
    position: absolute;
    right: 0%;
  }
  .header__nav {
    height: 780px;
  }
  .intro__slider-item {
    height: 768px;
  }
  .intro__container {
    margin-bottom: 80px;
    padding-top: 180px;
  }

  .intro__title {
    width: 65%;
  }
  .intro__text {
    width: 75%;
    margin-top: 9px;
    margin-bottom: 8.5em;
  }
  .about-us__text {
    width: 99%;
  }
}
@media (max-width: 930px) {
  .container {
    max-width: 668px;
  }
  .header__logo-link {
    width: 28%;
    transform: translateX(-128%);
  }

  .header__nav {
  height: 767px;
}

.header__sign {
    width: 40%;
}

  .intro__title {
    margin-left: -6px;
    width: 85%;
  }
  .intro__text {
    width: 100%;
  }
}

@media (max-width: 675px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  .container {
    max-width: 292px;
  }
  .header-top__container {
    padding: 9px 0;
  }

  .header__search-btn {
    width: 21px;
    height: 22px;
  }

  .header__burger-block {
    width: 20px;
  }

  .header__burger-line {
    margin: 25% 0;
    height: 2px;
  }
  .header__logo-link {
    height: 22.5px;
    width: 33.5%;
    transform: translateX(-97%);
  }

  .header__container-form {
    margin-top: -37px;
  }
.header__nav-close{
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
}
  .header__nav-link{
      font-size: 16px;
  }
  .header__nav {
    height: 355px;
    padding: 7px 5px 10px;
  }
  
  .header__nav-list{
      height: 90%;
  }
  .header__sign {
      margin-top: 0;
      width: 40%;
      padding: 0;
  }

  .header__sign-btn{
      font-size: 12px;
  }
  .intro__slider {
    top: -50px;
  }
  .intro__slider-item {
    height: 398px;
  }

  .intro__container {
    margin-bottom: 0px;
    padding-top: 70px;
    padding-bottom: 20px;
    text-align: center;
  }
  .intro__title {
    margin: 0 auto;
    width: 90%;
    line-height: 37px;
  }
  .intro__text {
    margin: 13px auto 45px;
    width: 95%;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .intro__subscribe-btn {
    padding: 1em 1.5em;
    font-size: 12px;
    color: white;
  }

  .about-us__title {
    margin-bottom: 15px;
  }

  .about-us__text {
    width: 99.5%;
    font-size: 14px;
    line-height: 28px;
  }
}
