/* Fonts */
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-italic.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-italic.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-italic.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v18-latin_cyrillic-600.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v18-latin_cyrillic-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body{
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 32px;
  color: #333;
  overflow-x: hidden;
}

.is-active{
  display: block;
}
:root {
  --color-contrast: #9d5cd0;
  --color-contrast-hover: #7943a4;
  --color-btn-border: #d1a9f0;
  --color-link:#C283F3;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
* {
  box-sizing: border-box;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
ul{
  padding: 0;
}

p{
  margin: 0;
}

.btn-reset{
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h2{
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

img{
  width: 100%;
}

section{
  padding: 80px 0;
}
.container {
  margin: 0 auto;
  max-width: 1633px;
  padding: 0 15px;
}

.item__subtitle {
  font-size: 12px;
  color: #999;
} 

.btn-reset{
  display: block;
  padding: 0;
  margin: 0;
  background-color: none;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  font-weight: 700;
  color: var(--color-contrast);
  border: 2px solid var(--color-contrast);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-full{
  background-color: var(--color-contrast);
  border-color: transparent;
}

.btn-full:hover{
  border-color: var(--color-btn-border);
}

.btn-full:focus-visible{
  border-color: var(--color-contrast-hover);
}

.btn--opacity:hover{
  background-color: var(--color-contrast);
  color: #fff;
}
.btn:active{
  background-color: var(--color-contrast-hover);
  border-color: var(--color-btn-border);
}

.btn--opacity:focus-visible::before{
  border-color: var(--color-contrast-hover);
}

.btn--opacity::before{
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 2px solid transparent;
}




/* Header
==================== */

.header{
  position: relative;
  z-index: 20;
}

.header-top {
  background-color: #000;
}
.header__container{
  position: relative;
  display: flex;
  align-items: center;
}

.header__burger-block{
  display: none;
  padding: 0;
  width: 40px;
  background-color: transparent;
  border: none;
}

.header__burger-line{
  display: block;
  background-color: #fff;
  margin: 25% 0;
  height: 3px;
}

.header__logo-link {
  display: block;
  width: 11%;
  height: 50px;
  position: relative;

}
.header__logo-img{
  max-width: 100%;
  height: 100%;
}
.header__nav{
  display: flex;
  align-items: center;
  margin-left: 10.8%;
}
.header__nav-close{
  display: none;
}
.header__nav-list {
  display: flex;
  justify-content: flex-start;
  margin-right: 20.5%;
  padding: 17px 0 18px;
}

.header__nav-item {
  margin-right: 52px;
  white-space: nowrap;
}

.header__nav-link {
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  outline: 2px solid transparent;
  transition: all 0.2s ease-in;
}

.header__nav-link:hover,
.header__sign-btn:hover,
.header-bottom__list-item:hover>.header-bottom__list-link,
.header-bottom__list-link:hover {
  color: var(--color-contrast);
}

.header__nav-link:active,
.header__sign-btn:active,
.header-bottom__list-link:active {
  color: var(--color-contrast-hover);
  outline: none;
}

.header__nav-link:focus-visible,
.header__sign-btn:focus-visible {
  outline: 2px solid var(--color-contrast-hover);
}

.header__sign-btn {
  position: relative;
  margin-right: -8px;
  padding: 8px;
  padding-left: 1.8em;
  font-size: 18px;
  border: none;
  outline: 2px solid transparent;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.header__sign-btn::after {
  content: "";
  position: absolute;
  left: 10%;
  top: 50%;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-image: url(../img/header-sign.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  transition: background-image 0.2s ease-in;
}

.header__sign-btn:hover::after {
  background-image: url(../img/header-sign\ hover.svg);
}

.header__sign-btn:active::after {
  background-image: url(../img/header-sign\ active.svg);
}


.header-bottom {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__list {
  z-index: 20;
  display: flex;
  margin: 0 -6px;
}

.header-bottom__list-link {
  position: relative;
  display: block;
  padding:0 6px;
  padding-right: 1.1em;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: all 0.2s ease-in;
}

.header-bottom__list-link::after {
  content: "";
  position: absolute;
  right: 0.7em;
  top: 50%;
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-right: 1.5px #fff solid;
  border-bottom: 1.5px #fff solid;
  border-left: 1.5px transparent solid;
  border-top: 1.5px transparent solid;
  transform: rotate(45deg) translateY(-100%);
  transition: border-right 0.2s ease-in, border-bottom 0.2s ease-in,
    transform 0.1s ease;
}

.header-bottom__list-item:hover>.header-bottom__list-link::after{
  border-right: 1.5px var(--color-contrast) solid;
  border-bottom: 1.5px var(--color-contrast) solid;
}

.header-bottom__list-item {
  position: relative;
  margin-right: 87px;
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
}

.header__dropdown-block {
  position: absolute;
  margin-top: 18px;
  padding: 40px 20px 40px 40px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
 transform: translateY(-10px);
 transition: all .3s ease;

}
.header-bottom__list-item:hover>.header__dropdown-block, 
.header-bottom__list-item:focus-within>.header__dropdown-block,
.header__dropdown-block:hover, 
.header__dropdown-block:focus{
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.header-bottom__list-item:focus-within>
.header-bottom__list-link{
  color: var(--color-contrast-hover);
  outline: 2px solid var(--color-contrast-hover);
}


.header-bottom__list-item:focus-within>
.header-bottom__list-link::after{
  border-right: none;
  border-bottom: none;
  border-left-color: var(--color-contrast-hover);
  border-top-color: var(--color-contrast-hover);
  transform: rotate(45deg) translateY(-50%) translateX(50%);
}
.header__dropdown {
  max-height: 220px;
}

.simplebar-scrollbar {
  background: #fff;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.header__dropdown-item {
  margin: 20px 0;
  width: 90%;

}

.header__dropdown-item:first-child {
  margin-top: 0;
}

.header__dropdown-item:last-child {
  margin-bottom: 0;
}
.dropdown-link {
  display: inline-block;
  padding: 7px 14px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all .2s linear;
}


.dropdown-link:hover,.dropdown-link:focus-visible {
border-color: var(--color-contrast);
}

.dropdown-link:active{
  border-color: var(--color-btn-border);
  background-color: rgba(194, 131, 243, .4);
  }

/* Dropdownes
===================== */
.header__dropdown-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: burlywood;
}
.dropdown__realism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/realism/1.jpg);
}

.dropdown__realism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/realism/2.jpg);
}

.dropdown__realism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/realism/3.jpg);
}

.dropdown__realism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/realism/4.jpg);
}

.dropdown__impressionism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/impressionism/1.jpg);
}
.dropdown__impressionism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/impressionism/2.jpg);
}
.dropdown__impressionism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/impressionism/3.jpg);
}
.dropdown__impressionism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/impressionism/4.jpg);
}

.dropdown__post-impressionism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/post-impressionism/1.jpg);
}
.dropdown__post-impressionism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/post-impressionism/2.jpg);
}
.dropdown__post-impressionism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/post-impressionism/3.jpg);
}
.dropdown__post-impressionism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/post-impressionism/4.jpg);
}

.dropdown__vanguard .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/vanguard/1.jpg);
}
.dropdown__vanguard .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/vanguard/2.jpg);
}
.dropdown__vanguard .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/vanguard/3.jpg);
}
.dropdown__vanguard .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/vanguard/4.jpg);
}

.dropdown__futurism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/futurism/1.jpg);
}
.dropdown__futurism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/futurism/2.jpg);
}
.dropdown__futurism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/futurism/3.jpg);
}
.dropdown__futurism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/futurism/4.jpg);
}

.exemple{
  padding: 50px 0;
  max-width: 1920px;
  height: 150px;
  text-align: center;
  font-size: 72px;
  background-color: aqua;
}
/* ================================= */


.header__form-search {
  /* position: absolute;
  top: 71%;
  right: 8.2%; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 260px;
  padding: 3px;
}
.header__search-btn{
  margin-right: 5px;
  width: 1.8em;
  height: 1.8em;
  border-right: none;
  border: 2px solid transparent;
  background-image: url(../img/intro-search-btn.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  cursor: pointer;
  transition: background-image 0.2s linear;
}

.header__form-search:focus-within > .header__search-btn {
  background-image: url(../img/intro-search-btn\ hover.svg);
}

.header__form-search:hover .header__search-input,
.header__search-input:focus {
  border-bottom: 1px var(--color-contrast) solid;
}

.header__form-search:focus-visible {
  outline: 2px solid var(--color-contrast-hover);
}

.header__search-input {
  padding-bottom: 2%;
  width: 100%;
  background-color: transparent;
  border: 2px solid transparent;
  border-left: none;
  border-bottom: 1px #fff solid;
  color: #fff;
  transition: border-bottom 0.2s linear;
}

.header__search-input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 20px;
  transition: color 0.4s linear;
}

.header__search-input:focus::placeholder {
  color: transparent;
}

.header__search-input:focus .header__search-btn {
  background-image: url(../img/intro-search-btn\ hover.svg);
}

/* Intro */

.section__intro{
  position: relative;
  padding: 70px 0 122px;
}

.intro__slider {
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 10;
  width: 100%;
}

.intro__slider-item {
  max-width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: center;
  animation: scale 10s linear infinite;
}
.intro__container{
  position: relative;
  z-index: 10;
}
.intro__slider-item:nth-child(1) {
  background-image: url(../img/intro/3.jpg);
}
.intro__slider-item:nth-child(2) {
  background-image: url(../img/intro/1.jpg);
}
.intro__slider-item:nth-child(3) {
  background-image: url(../img/intro/2.jpg);
}

.intro__slider-item:nth-child(4) {
  background-image: url(../img/intro/3.jpg);
}
.intro__slider-item:nth-child(5) {
  background-image: url(../img/intro/1.jpg);
}

.intro__tagline{
  margin-left: -5px;
  width: 37%;
  font-size: 72px;
  color: #fff;
  font-weight: 700;
  line-height: 85px;
}
.intro__text{
  margin-top: 17px;
  margin-bottom: 5em;
  width: 35%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.intro__subscribe-btn{
  display: inline-block;
  padding: 1em 1.9em;
  font-size: 18px;
  color: white;
}

/* About Us */

.section__about-us{
  padding-bottom: 69px;
}
.about-us__title{
  margin-bottom: 18px;
}
.about-us__text{
  width: 67%;
}

/* Gallery */

.section__gallery{
  background-image: url(../img/gallery/bg-image-gray-full.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallery__container{
  display: flex;
  justify-content: space-between;
}
.gallery__title{
  margin-bottom: 15px;
  color: #fff;
}

.gallery__content{
  position: relative;
  width: 25%;
}

.gallery__selector-title{
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
}

.gallery__select{
  width: 100%;
}

.choices__inner{
  padding: 3px 15px 0 15px;
  font-size: 16px;
  color: #fff;
  border-radius: 6px;
  background-color: transparent;
}
.choices__list--single{
  padding: 0;
}

.choices__list--single .choices__item{
  color: #fff;
  border: none;
}
.choices[data-type*=select-one] .choices__inner{
  padding-bottom: 0;
}

.choices__list--dropdown{
  background-color: transparent;
  border-color: #999;
  border-radius: 6px;

}

.is-open .choices__inner{
  border-radius: 6px;
  border: 1px solid #999;

}
.is-focused .choices__inner, .is-open .choices__inner{
  border-color: #fff;
}

.choices__item {
  color: #999;
  border-top: 1px solid #999;

}
.choices__list--dropdown .choices__item--selectable{
  padding-right: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted{
  background-color: rgba(194, 131, 243, .4);
  color: #fff;
}

.choices[data-type*=select-one]:after{
  font-family: 'icomoon' !important;
  content: '\f107';
  top: 50%;
  right: 15px;
  transform: translateY(-40%);
  width: auto;
  height: auto;
  color: #fff;
  border: none;
}

.choices[data-type*=select-one].is-open:after{
  font-family: 'icomoon' !important;
  content: '\f106';
  top: 50%;
  transform: translateY(-30%);
  right: 15px;
  width: auto;
  height: auto;
  color: #fff;
  border: none;
}

.gallery__selector-info{
  position: absolute;
  bottom: -9px;
  width: 90%;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}
.gallery__info-link{
  color: var(--color-link);
  border: 2px solid transparent;
  transition: all .2s linear;
}
.gallery__info-link:hover{
  color: var(--color-contrast);
}
.gallery__info-link:focus-visible{
  border-color: var(--color-contrast-hover);
}
.gallery__info-link:active{
  color: var(--color-contrast-hover);
}

.gallery__album{
  position: relative;
  width: 75%;
  margin-right: -25px;
  margin-bottom: -30px;
  padding-top: 65px;
}

.gallery__album-item{
  margin: 20px 0;
  padding: 0 25px;
}

 .gallery__item-inner{
  width: 350px;
  height: 350px;
  position: relative;
  outline: 3px solid transparent;
  transition: outline-color .2s linear;
  cursor: pointer;
 }

.gallery__album-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item-inner::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, .4);
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .5s ease;
}
.gallery__item-inner::after{
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-51%) translateX(50%);
  display: block;
  width: 300px;
  height: 300px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/gallery/zoom-in.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .8s ease;
}

.gallery__item-inner:active::before{
  opacity: 1;
}

.gallery__item-inner:active:after{
  opacity: 1;
}

.gallery__item-inner:hover::after{
  opacity: 1;
}
.gallery__item-inner:focus-visible{
  outline-color: var(--color-contrast-hover);
 }

.slick-btn {
  position: absolute;
  top: -40px;
  z-index: 10;
  width: 30px;
  height: 30px;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 100%;
  background-color: #666;
  cursor: pointer;
  transition: all .2s ease;
}
.slick-btn:hover{
  background-color: var(--color-contrast);
}
.slick-btn:focus-visible{
  color: #000;
  border-color: var(--color-contrast-hover);
}
.slick-disabled{
  opacity: .5;
  cursor: default;
}
.slick-disabled:hover{
  background-color: #666;
}
.gallery__slick-next{
  left: 10.8%;
}
.gallery__slick-next::after{
  font-family: 'icomoon' !important;
  content: '\f105';
}
.gallery__slick-prev{
  left: 30px;
}
.gallery__slick-prev::after{
  font-family: 'icomoon' !important;
  content: '\f104';
}

.modal__container{
  padding: 0;
  border-radius: 0;
}
.gallery__item-card{
  display: flex;
  background-color: #fff;
}

.gallery__item-card>picture{
  min-width: 40%;
  overflow: hidden;
}
.gallery__card-image{
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.gallery__card-content{
  padding: 50px;
}

.gallery__card-close{
  margin: 10px;
  padding: 10px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: none;
  background-image: url(../img/gallery/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  transition: background-color .2s ease;
}

.gallery__card-close:hover{
  background-color: rgba(157, 92, 208, .4);
}
.gallery__card-name{
  font-weight: 600;
  line-height: 22px;
}
.gallery__card-dates{
  margin-bottom: 41px;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}
.gallery__card-descr{
  color: #333;
}

.gallery__pagingInfo{
  position: absolute;
  top: 25px;
  left: 77px;
  font-size: 16px;
  line-height: 32px;
  color: white;
}

/* Catalog */

.section__catalog{
  padding-bottom: 0;
}

.catalog__header{
  display: flex;
  align-items: center;
}
.catalog__language{
  display: flex;
  margin: 0;
  margin-left: 16px;
}
.catalog__language-item{
  margin: 0 14px;
  padding: 8px;
  width: 68px;
  height: 68px;
  border: 2px solid transparent;
  border-radius: 100%;
}

.catalog__language-item.active{
  border-color: var(--color-contrast);
} 
.language-link{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
  border-radius: 100%;
  transition: all .2s linear;
} 
.language-link:hover{
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.language-link:active{
  filter: none;
  border-color: var(--color-contrast);
}

.language-link:focus-visible{
  filter: none;
  border-color: var(--color-contrast);
}

.language-fr{
  background-image: url(../img/catalog/language/fr.png);
}

.language-de{
  background-image: url(../img/catalog/language/de.png);
}
.language-it{
  background-image: url(../img/catalog/language/it.png);
}

.language-ru{
  background-image: url(../img/catalog/language/ru.png);
}
.language-be{
  background-image: url(../img/catalog/language/be.png);
}

.catalog__descr{
  margin-top: 15px;
  width: 68%;
}

.catalog__inner{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 36px;
}
.catalog__accordion{
  margin: 0;
  width: 50%;
}
.catalog__accordion-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 31px;
  width: 100%;
  border-top: 1px solid #E5E5E5;
}

.catalog__accordion-title{
  margin-top: -4px;
  margin-left: -5.5px;
  padding: 0 5px;
  line-height: 32px;
  border: 2px solid transparent;
  transition: all .2s linear;
}

.ui-icon{
  display: none;
}
.catalog__accordion-point{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ececec;
  border: 2px solid transparent;
  border-radius: 100%;
  transition: background-color .4s linear;
}

.catalog__accordion-point::after{
  content: "\f107";
  font-family: 'icomoon' !important;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%) translateY(-50%);
  font-size: 28px;
  transition: all .2s ease;
}
.catalog__accordion-item:last-child>.catalog__accordion-btn{
  border-bottom: 1px solid #E5E5E5;
}

.catalog__accordion-btn:hover>.catalog__accordion-title{
  color: var(--color-contrast);
}
.catalog__accordion-btn:hover>.catalog__accordion-point{
  color: #fff;
  background-color: var(--color-contrast);
}

.catalog__accordion-btn:active>.catalog__accordion-point{
  background-color: var(--color-contrast-hover);
  border-color: #d1a9f0;
}

.catalog__accordion-btn:active>.catalog__accordion-title{
  color: var(--color-contrast-hover);
}

.catalog__accordion-btn:focus-visible>.catalog__accordion-point{
  border-color: var(--color-contrast-hover);
}

.catalog__accordion-btn:focus-visible>.catalog__accordion-title{
  border-color: var(--color-contrast-hover);
}


.catalog__accordion-btn.ui-state-active>.catalog__accordion-point::after{
  content: "\f106";
  transform: translate(-50%) translateY(-55%);
}
.catalog__accordion-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -3px;
  padding: 25px 35px 30px 0;
  max-height: 350px;
  border-top: 1px solid var(--color-contrast);
  border-bottom: 1px solid var(--color-contrast);
}

.catalog__accordion-list>li{
width:calc(33.3333333% - 15px);
}

.catalog__accordion-list>li.active>.catalog__accordion-link{
  font-weight: 600;
  color: var(--color-contrast);
}

.catalog__accordion-link{
  position: relative;
  padding: 2px;
  color: #333;
  border: 2px solid transparent;
  transition: all .2s linear;
}

.catalog__accordion-link::before{
  content: '';
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-contrast);
  opacity: 0;
  transition: opacity .2s ease-in;
}
.catalog__accordion-link:hover{
  color: var(--color-contrast);
}

.catalog__accordion-link:hover::before{
  opacity: 1;
}

.catalog__accordion-link:active{
  font-weight: 600;
  color: var(--color-contrast-hover);
}

.catalog__accordion-link:active::before{
  opacity: 0;
}
.catalog__accordion-link:focus-visible{
  border-color: var(--color-contrast-hover);
}

.catalog__artists{
  padding-right: 50px;
  width: 50%;
}

.catalog__item-img{
  margin-bottom: 20px;
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}

.tabs-tab{
  cursor: pointer;
}
.tab-content{
  display: none;
}
.tab-content.active{
  display: block;
}

/* Events
=================== */
.events__title{
  margin-bottom: 15px;
}
.events__content{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -25px;
}

.events__item{
  display: none;
  margin: 25px;
  width: calc( 33.3333% - 50px);
}

.events__item:nth-child(-n + 3){
  display: block;
}

.events__item.active{
  display: block;
}

.event__header{
  height: 300px;
}


.event__header--img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event__content{
  padding: 13px 18px 30px 50px;
  border: 1px #cacaca solid;
  border-top: none;
}

.event__subtitle{
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .2px;
  color: #969696;
}
.event__info{
  margin-top: 5px;
  padding-right: 28px;
}


.event__title{
  margin-bottom: 3px;
}

.event__btn-more{
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  margin-top: 15px;
  margin-left: -5px;
  padding: 3px 3px 8px;
  color: var(--color-contrast);
  border: 2px solid transparent;
}

.event__btn-more::after{
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: calc( 100% - 5px);
  height: 1px;
  background-color: var(--color-contrast);
}

.event__btn-more:focus-visible{
  border-color: var(--color-contrast-hover);
}
.event__btn-more:hover{
  font-weight: 600;
}

.event__btn-more:active{
  color: var(--color-contrast-hover);
  font-weight: 600;
}

.event__btn-more:active::after{
  background-color: var(--color-contrast-hover);
}

.events__load-more{
  position: relative;
  display: block;
  margin: 50px auto 0;
  padding: 20px 35px;
  font-size: 18px;
}

.events__load-more::before{
  width: calc(100% - 50px);
  height: calc(100% - 30px);
}
