/* Fonts */
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-italic.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-italic.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-italic.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v18-latin_cyrillic-600.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v18-latin_cyrillic-700.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body{
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 32px;
  color: #333;
}


html {
  scroll-behavior: smooth;
}

.is-active{
  display: block;
}
:root {
  --color-contrast: #9d5cd0;
  --color-contrast-hover: #7943a4;
  --color-btn-border: #d1a9f0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
* {
  box-sizing: border-box;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
ul{
  padding: 0;
}
p{
  margin: 0;
}

h2{
  margin: 0;
  font-size: 48px;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 1633px;
  padding: 80px 15px 70px;

}

.item__subtitle {
  font-size: 12px;
  color: #999;
} 

.btn {
  background-color: transparent;
  font-weight: 700;
  color: var(--color-contrast);
  border: 2px solid var(--color-contrast);
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-full{
  background-color: var(--color-contrast);
  border: transparent;
}
.btn > p {
  padding: 2px;
  outline: 2px solid transparent;
  transition: color 0.2s ease-in;
}

.btn:focus-visible > p {
  box-sizing: padding-box;
  outline-color: var(--color-contrast-hover);
}

.btn:hover {
  background-color: var(--color-contrast);
}

.btn:active {
  background-color: var(--color-contrast-hover);
  border: 2px solid var(--color-btn-border);
}

.btn:active > p,
.btn:hover > p {
  color: #fff;
}

/* Header
==================== */

.header{
  position: relative;
  z-index: 20;
}

.header-top {
  align-items: center;
  justify-content: space-between;
  background-color: #000;
}
.header__container{
  position: relative;
  display: flex;
  align-items: center;
}
.header-top__container {
  padding: 18px 15px;
}
.header__burger-block{
  display: none;
  padding: 0;
  width: 40px;
  background-color: transparent;
  border: none;
}

.header__burger-line{
  display: block;
  background-color: #fff;
  margin: 25% 0;
  height: 3px;
}

.header__logo-link {
  display: block;
  width: 11%;
  height: 50px;
  position: relative;

}
.header__logo-img{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}
.header__nav{
  display: flex;
  align-items: center;
  margin-left: 10.8%;

}
.header__nav-close{
  display: none;
}
.header__nav-list {
  display: flex;
  justify-content: flex-start;
  margin-right: 20.5%;
}

.header__nav-item {
  margin-right: 52px;
  white-space: nowrap;
}

.header__nav-link {
  padding: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  outline: 2px solid transparent;
  transition: all 0.2s ease-in;
}

.header__nav-link:hover,
.header__sign-btn:hover,
.header-bottom__list-link:hover {
  color: var(--color-contrast);
}

.header__nav-link:active,
.header__sign-btn:active,
.header-bottom__list-link:active {
  color: var(--color-contrast-hover);
  outline: none;
}

.header__nav-link:focus-visible,
.header__sign-btn:focus-visible,
.header-bottom__list-link:focus-visible {
  outline: 2px solid var(--color-contrast-hover);
}

.header__sign-btn {
  position: relative;
  margin-right: -8px;
  padding: 8px;
  padding-left: 1.8em;
  font-size: 18px;
  border: none;
  outline: 2px solid transparent;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.header__sign-btn::after {
  content: "";
  position: absolute;
  left: 10%;
  top: 50%;
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-image: url(../img/header-sign.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translateY(-50%);
  transition: background-image 0.2s ease-in;
}

.header__sign-btn:hover::after {
  background-image: url(../img/header-sign\ hover.svg);
}

.header__sign-btn:active::after {
  background-image: url(../img/header-sign\ active.svg);
}

.header-bottom__container{
  padding: 0 15px;
}

.header-bottom {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}


.header-bottom__list {
  display: flex;
  margin: 0 -6px;
  margin-right: -87px;
}

.header-bottom__list-link {
  position: relative;
  padding:0 6px;
  padding-right: 1.1em;
  font-size: 18px;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: all 0.2s ease-in;
}

.header-bottom__list-link::after {
  content: "";
  position: absolute;
  right: 0.7em;
  top: 50%;
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  border-right: 1.5px #fff solid;
  border-bottom: 1.5px #fff solid;
  border-left: 1.5px transparent solid;
  border-top: 1.5px transparent solid;
  transform: rotate(45deg) translateY(-100%);
  transition: border-right 0.2s ease-in, border-bottom 0.2s ease-in,
    transform 0.1s ease;
}

.header-bottom__list-link.is-active {
  color: var(--color-contrast-hover);
}

.header-bottom__list-link.is-active:hover::after,
.header-bottom__list-link.is-active::after {
  border-right: none;
  border-bottom: none;
  border-left-color: var(--color-contrast-hover);
  border-top-color: var(--color-contrast-hover);
  transform: rotate(45deg) translateY(-50%) translateX(50%);
}

.header-bottom__list-link:hover::after {
  border-right: 1.5px var(--color-contrast) solid;
  border-bottom: 1.5px var(--color-contrast) solid;
}

.header-bottom__list-link:active::after {
  border-right: 1.5px var(--color-contrast-hover) solid;
  border-bottom: 1.5px var(--color-contrast-hover) solid;
}

.header-bottom__list-item {
  position: relative;
  margin-right: 87px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.header__dropdown-block {
  position: absolute;
  margin-top: 18px;
  padding: 40px 20px 40px 40px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
 transform: translateY(-10px);
 transition: all .3s ease;

}

.header__dropdown-block.is-active{
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.header__dropdown {
  height: 220px;
}

.simplebar-scrollbar {
  background: #fff;
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: #000;
}

.header__dropdown-item {
  margin: 20px 0;
  width: 90%;

}

.header__dropdown-item:first-child {
  margin-top: 0;
}

.header__dropdown-item:last-child {
  margin-bottom: 0;
}
.dropdown-link {
  display: inline-block;
  padding: 7px 14px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all .2s linear;
}


.dropdown-link:hover,.dropdown-link:focus-visible {
border-color: var(--color-contrast);
}

.dropdown-link:active{
  border-color: var(--color-btn-border);
  background-color: rgba(194, 131, 243, .4);
  }

/* Dropdownes
===================== */
.header__dropdown-item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: burlywood;
}
.dropdown__realism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/realism/1.jpg);
}

.dropdown__realism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/realism/2.jpg);
}

.dropdown__realism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/realism/3.jpg);
}

.dropdown__realism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/realism/4.jpg);
}

.dropdown__impressionism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/impressionism/1.jpg);
}
.dropdown__impressionism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/impressionism/2.jpg);
}
.dropdown__impressionism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/impressionism/3.jpg);
}
.dropdown__impressionism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/impressionism/4.jpg);
}

.dropdown__post-impressionism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/post-impressionism/1.jpg);
}
.dropdown__post-impressionism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/post-impressionism/2.jpg);
}
.dropdown__post-impressionism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/post-impressionism/3.jpg);
}
.dropdown__post-impressionism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/post-impressionism/4.jpg);
}

.dropdown__vanguard .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/vanguard/1.jpg);
}
.dropdown__vanguard .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/vanguard/2.jpg);
}
.dropdown__vanguard .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/vanguard/3.jpg);
}
.dropdown__vanguard .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/vanguard/4.jpg);
}

.dropdown__futurism .header__dropdown-item:nth-child(1) {
  background-image: url(../img/header/dropdown/futurism/1.jpg);
}
.dropdown__futurism .header__dropdown-item:nth-child(2) {
  background-image: url(../img/header/dropdown/futurism/2.jpg);
}
.dropdown__futurism .header__dropdown-item:nth-child(3) {
  background-image: url(../img/header/dropdown/futurism/3.jpg);
}
.dropdown__futurism .header__dropdown-item:nth-child(4) {
  background-image: url(../img/header/dropdown/futurism/4.jpg);
}

/* ================================= */


.header__container-form{
position: absolute;
top: 70%;
left: 50%;
z-index: 20;
display: flex;
justify-content: flex-end;
padding: 0 15px;
width: 100%;
transform: translateX(-50%);

}

.header__form-search {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: -3px;
  width: 16.3%;
  padding: 3px;
}
.header__search-btn{
  margin-right: 5px;
  width: 1.8em;
  height: 1.8em;
  border-right: none;
  border: 2px solid transparent;
  background-image: url(../img/intro-search-btn.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  cursor: pointer;
  transition: background-image 0.2s linear;
}

.header__form-search:focus-within > .header__search-btn {
  background-image: url(../img/intro-search-btn\ hover.svg);
}

.header__form-search:hover .header__search-input,
.header__search-input:focus {
  border-bottom: 1px var(--color-contrast) solid;
}

.header__form-search:focus-visible {
  outline: 2px solid var(--color-contrast-hover);
}

.header__search-input {
  padding-bottom: 2%;
  width: 100%;
  background-color: transparent;
  border: 2px solid transparent;
  border-left: none;
  border-bottom: 1px #fff solid;
  color: #fff;
  transition: border-bottom 0.2s linear;
}

.header__search-input::placeholder {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  line-height: 20px;
  transition: color 0.4s linear;
}

.header__search-input:focus::placeholder {
  color: transparent;
}

.header__search-input:focus .header__search-btn {
  background-image: url(../img/intro-search-btn\ hover.svg);
}

/* Intro */

.section__intro{
  position: relative;
}

.intro__slider {
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 10;
  width: 100%;
}

.intro__slider-item {
  height: 700px;
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: center;
  animation: scale 10s linear infinite;
}
.intro__container{
  position: relative;
  z-index: 10;
  margin-bottom: 50px;
  padding-top: 69px;
}
.intro__slider-item:nth-child(1) {
  background-image: url(../img/intro/3.jpg);
}
.intro__slider-item:nth-child(2) {
  background-image: url(../img/intro/1.jpg);
}
.intro__slider-item:nth-child(3) {
  background-image: url(../img/intro/2.jpg);
}

.intro__slider-item:nth-child(4) {
  background-image: url(../img/intro/3.jpg);
}
.intro__slider-item:nth-child(5) {
  background-image: url(../img/intro/1.jpg);
}

.intro__title{
  margin-left: -5px;
  width: 37%;
  font-size: 72px;
  color: #fff;
  font-weight: 700;
  line-height: 85px;
}
.intro__text{
  margin-top: 15px;
  margin-bottom: 5em;
  width: 35%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
}

.intro__subscribe-btn{
  display: inline-block;
  padding: 1.2em 2em;
  font-size: 18px;
  color: white;
}

/* About Us */

.about-us__container{
  padding-top: 100px;
}

.about-us__title{
  margin-bottom: 30px;
}
.about-us__text{
  width: 67%;
}

